<div id="formulario" class="custom-container">
<div class="margin-table" ng-hide="verResultado">
  <h1 class="entry-title custom-title">Predicción individual</h1>
  <div class="panel panel-default" style="border: none;">
  <div class="panel-body">

      <p>Datos necesarios para predicción de brotes en la semana t+1.</p>
      <br/>
      <form novalidate class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Departamento</label> 
          <div class="col-sm-2">
            <select class="form-control" name="dpto" ng-model="reg.dpto" ng-change="updateDist()" ng-options="option.name for option in dptos">
            </select>
          </div>
        </div>
        <div class="form-group">
         <label class="col-sm-2 control-label">Distrito</label> 
          <div class="col-sm-2">
            <select class="form-control" name="dist" ng-model="reg.dist" ng-options="option.name for option in distritos"></select>
          </div>
        </div>
         <!-- <div class="form-group" ng-if="reg.dist.id=='ASUNCION'">
           <label class="col-sm-2 control-label">Barrio</label> 
            <div class="col-sm-2">
              <select class="form-control" name="barrio" ng-model="reg.barrio" ng-options="option.id for option in barrios"></select>
            </div>
          </div>-->
          <!--<div class="form-group">
            <label class="col-sm-2 control-label">Periodo</label> 
            <div class="col-sm-2">
              <input id="exampleInput"  class="form-control" type="week" name="input" ng-model="reg.periodo"
                     placeholder="YYYY-W##" min="2015-W01"
                      max="2100-W53" required />
            </div>
          </div>-->
          
        <div class="form-group">
          <label class="col-sm-2 control-label">Año</label> 
          <div class="col-sm-2">
              <input type="number" class="form-control" name="input" ng-model="reg.anio" value="2016" 
               min="2015" max="2100" required>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Semana</label> 
          <div class="col-sm-2">
            <input type="number" class="form-control" name="input" ng-model="reg.semana" value="1"
               min="1" max="53" required>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Brote t</label> 
          <div class="col-sm-2">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" ng-model="reg.brote" value="SI" name="options" id="option1" autocomplete="off" checked> Si
              </label>
              <label class="btn btn-primary">
                <input type="radio" ng-model="reg.brote" value="NO" name="options" id="option2" autocomplete="off"> No
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Cantidad de casos t </label>
          <div class="col-sm-2">
            <input type="numeric" ng-model="reg.cant_0" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Cantidad de casos t-1</label>
          <div class="col-sm-2">
           <input type="numeric"  ng-model="reg.cant_1" class="form-control"  />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Cantidad de casos t-2</label> 
          <div class="col-sm-2">
            <input type="numeric" ng-model="reg.cant_2" class="form-control"  />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Incidencia t</label> 
          <div class="col-sm-2">
            <input type="numeric" ng-model="reg.incidencia" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-2">
            <input type="button" class="btn btn-default" ng-click="reset()" value="Limpiar datos" />
            <input type="submit" class="btn btn-primary" ng-click="guardar(reg)" value="Aceptar" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="margin-table" ng-show="verResultado" style="padding-left: 20px;">
  <h1 class="entry-title custom-title">Predicción individual</h1>
  <br/>
  <div class="panel panel-default" style="border: none;">
    <div class="panel-body">
      <div style="padding-left: 20px;">
        <div ng-if="reg.barrio.id!=null">
          <h5><b>{{reg.dist.name}}, {{reg.dpto.name}}</b>, barrio <b>{{reg.barrio.id}}</b>, año <b>{{reg.anio}}</b>, semana <b>{{reg.semana}}</b> </h5>
        </div>
        <div ng-if="reg.barrio.id==null"><h5><b>{{reg.dist.name}}, {{reg.dpto.name}}</b>, año <b>{{reg.anio}}</b>, semana <b>{{reg.semana}}</b> </h5>
        </div>
        <h5>Cantidad t: <b>{{reg.cant_0}}</b> </h5>
        <h5>Incidencia t: <b>{{reg.incidencia}}</b></h5>
        <h5>Cantidad t-1: <b>{{reg.cant_1}}</b></h5>
        <h5> Cantidad t-2: <b>{{reg.cant_2}}</b> </h5>
        <br/>
        <h4>Resultado: Brote <b>{{prediccion.prediccion}}</b> </h4>
        <br/>
        <input type="button" class="btn btn-primary" ng-click="volver()" value="Aceptar" />
      </div>
    <br/>
    </div>
  </div>
</div>

