<div id="sidebar" class="sidebar collapsed" style="top: 60px;" ng-controller="TabsCtrl">
    <!-- Nav tabs -->
    <ul class="sidebar-tabs" role="tablist">
        <!-- <li ng-class="{active:isTab('map1')}"><a ng-click="setTab('map1')" role="tab"><i class="fa fa-bars"></i></a></li>-->
        <li ng-class="{active:isTab('map5')}"><a ng-click="setTab('map5')" role="tab">
        	<div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Riesgo</span></div>
        </a></li>
        <li ng-class="{active:isTab('map6')}"><a ng-click="setTab('map6')" role="tab">
        	<div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Reporte</span></div>
        </a></li>
        <li ng-class="{active:isTab('map7')}"><a ng-click="setTab('map7')" role="tab">
        	<div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Alerta</span></div>
        </a></li>
        <li ng-class="{active:isTab('map8')}"><a ng-click="setTab('map8')" role="tab">
        	<div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Incidencia</span></div>
        </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="sidebar-content active">
        <div class="sidebar-pane" id="profile" ng-class="{active:isTab('map5')}" ng-if="tab=='map5'"><h1>Mapa de
        Riesgo</h1></div>
        <div class="sidebar-pane" id="messages" ng-class="{active:isTab('map6')}" ng-if="tab=='map6'"><h1>Mapa de
        Casos</h1>
	        <div class="">
	        <br />
	        <h4>Sexo</h4>
	        <div id="sexo" class="btn-group-vertical" data-toggle="buttons">
		        <label class="btn btn-sm btn-primary"><input type="checkbox">Masculino</label>
		        <label class="btn btn-sm btn-primary"><input type="checkbox">Femenino</label>
	        </div>
	        <h4>Clasificación</h4>
	        <div id="clasificacion" class="btn-group-vertical" data-toggle="buttons">
		        <label class="btn btn-sm btn-primary"><input type="checkbox">Confirmado</label>
		        <label class="btn btn-sm btn-primary"><input type="checkbox">Sospechoso</label>
	        	<label class="btn btn-sm btn-primary"><input type="checkbox">Descartado</label>
	        </div>
	        </div>
        </div>
        <div class="sidebar-pane" id="settings" ng-class="{active:isTab('map7')}" ng-if="tab=='map7'"><h1>Mapa de
        Alertas</h1></div>
        <div class="sidebar-pane" id="settings" ng-class="{active:isTab('map8')}" ng-if="tab=='map8'"><h1>Mapa de
        Incidencia</h1></div>

		<p style="margin-left:15px;"><b>Año </b>&nbsp;<span class="example-val" id="fYear"></span></p>
		<div id="sYear" style="width:365px;margin-left:20px;margin-right:15px;"></div>
		<br/>
		<br/>
		<br/>
		<p style="margin-left:15px;"><b>Semana </b>&nbsp;<span class="example-val" id="fMonth"></span></p>
		<div id="sMonth" style="width:365px;margin-left:20px;margin-right:15px;"></div>
		<br/>
    </div>
</div>
